@media screen and (min-width: 800px) {  
  .row{
    flex-direction: row;
    width: 98%;
  }
  .header{
    margin-top:35px;
  }
  .recipe{
    flex-direction: row;
    align-items: center;
  }
  #mealImg{
    width: 30vw;
  }
  .right{
    width: 50%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {  
  .row{
    flex-direction: column;
    width: 100%;
  }
  .header{
    margin-left: 20px;
    margin-top:5px;
    margin-bottom:20px;
  }
  .recipe{
    flex-direction: column;
  }
  #mealImg{
    width: 80vw;
  }
  .right{
    width: 90%;
  }
}

#root {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.row{
  display: flex;
  margin-top: 30px;
  margin-left: auto;margin-right: auto;
}

.MuiGrid2-root {
  height: fit-content;
  text-align: center;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

a {
  text-decoration: none;
}

h2{
  font-size: 2rem;
}

.categoryBox{
  height: 300px;
}


/* recipePage */

.recipe{
  display: flex;
  padding: 50px;
  height: 100%;
  margin-left: auto;margin-right: auto;
}

#mealImg{
  border-radius: 16px;
}

.right{
  padding: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.left{
  align-self: first baseline;
}

