#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.MuiGrid2-root {
  height: fit-content;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  margin: 20px;
}